# Ignore build artifacts and logs
target/
logs/
*.duckdb
.vscode/

# Ignore dbt packages and internal packages
dbt_packages/
.user.yml
profiles.yml
dbt_internal_packages/

# Ignore data files
seeds/personal_finance/personal_finance.csv